@*@model IEnumerable<Assignment_12._1.Models.IndexViewModel>*@
@model Assignment_12._1.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*display Id as column heading*@
                @Html.DisplayNameFor(model => model.Products.First().Id)
            </th>
            <th>
                @*display Name as column heading*@
                @Html.DisplayNameFor(model => model.Products.First().Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.Id)</td>
            <td>@Html.DisplayFor(modelitem => item.Name)</td>
            <td> <!--td is column-->
                <a asp-action= "Details" asp-controller="Product" asp-route-id= "@item.Id">Details</a>
            </td>
            <td>
                <a asp-action= "Edit" asp-controller="Product" asp-route-id= "@item.Id">Edit</a>    <!--Edit Link added-->
            </td>
            <td>
                <a asp-action= "Delete" asp-controller="Product" asp-route-id= "@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
